<div class="text-center border border-success rounded-lg">
<h5>Race Card {{ race.number }}</h1> 
    <table class="table table-condensed table-striped table-sm">
    <thead>
        <tr>
            <th>No.</th>
            <th>Horse</th>
            {% if race_status == 'In Play' %}
            <th>Select</th>
            {% else %}
            <th>
            {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for entry in raceentrys %}
        {% if race_status == 'Finished' %}
            {% if entry == winner %}
            <tr class = 'table-success'>
            {% else %}
            <tr>
            {% endif %}
        {% endif %}
            <td>{{ entry.number }}</td>
            <td>{{ entry.horse.name }}</td>
            {% if race_status == 'In Play' %}
                <td><a class='btn btn-outline-success btn-sm' href="{% url 'races:bet-create' entry.id %}">Place Bet</td>
            {% elif race_status == 'Finished' %}
                    {% if entry == winner %}
                    <td>WINNER</td> 
                    {% else %}
                    <td></td>
                    {% endif %}
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


