{% extends "base.html" %}

{% block content %}
<div class="embed-responsive embed-responsive-16by9">
<h5 class='text-center'><span>Race {{ race.number }} - {{ race.name }} </span></h5>    
<iframe class="embed-responsive-item" src={{ race.srcyoutube }} 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> 
<br>
<div class='text-center'>
    <a href = {{ race.srcyoutube }}> Click here to open directly in YouTube</a>    
</div>

{% endblock %}
