{% extends "base.html" %}
{% block content %}

<div class="container text-center ">

    <h5>My Dashboard<span class='text-success'>  Tickets <i class="ri-coupon-line"></i>{{ user.profile.cash }}</span></h5>
    
          <!-- NO MORE BETS -->
          {% for race in races %}
          {% if race.status == 'No More Bets' %}
            <div class="col border border-success rounded-lg">
              <h5>Race {{ race.number }} - {{ race.name }} </h5>
              <h5 class='text-center'><span class='font-weight-bold text-warning'> {{ race.status }}</span></h5> 
            <div class="text-center">
              <a type="button" class="btn btn-sm btn-success px-2" href="{% url 'races:dashboard' race.id %} ">Details</a>
              <a type="button" class="btn btn-sm btn-warning px-2" href="{% url 'races:watchrace' race.id %} ">Watch Race</a>
            </div>
            <br>
            <h6 class="text-center">My Bets</h6>
            <table class="table table-condensed table-striped table-sm">
              <thead>
                  <tr>
                    <th>No.</th>
                    <th>Horse</th>
                    <th>Stake</th>
                  </tr>
              </thead>
              <tbody>
                  {% for bet in bets %}
                    {% if bet %}
                      <tr>
                      {% if bet.raceentry.race.id == race.id %}
                        <td>{{ bet.raceentry.number }}</td>
                        <td>{{ bet.raceentry.horse.name }}</td>
                        <td>{{ bet.amount }}</td>
                      {% endif %}
                    </tr>
                    {% else %}
                    No bets placed
                    {% endif %}
                  {% endfor %}
              </tbody>
            </table>
            </div>
            <br>
            {% endif %}
          {% endfor %}
          
    <!-- IN PLAY -->
    {% for race in races %}
    {% if race.status == 'In Play' %}
      <div class="col border border-success rounded-lg">
        <h5>Race {{ race.number }} - {{ race.name }} </h5>
        <h5 class='text-center'><span class='font-weight-bold text-success'> {{ race.status }}</span></h5> 
      <div class="text-center">
        <a type="button" class="btn btn-sm btn-success px-2" href="{% url 'races:dashboard' race.id %} ">Place Bets</a>
      </div>
      <h6 class="text-center">My Bets</h6>
      <table class="table table-condensed table-striped table-sm">
        <thead>
          <tr>
            <th>No.</th>
            <th>Horse</th>
            <th>Stake</th>
          </tr>
        </thead>
        <tbody>
        {% for bet in bets %}
            <tr>
            {% if bet.raceentry.race.id == race.id %}
              <td>{{ bet.raceentry.number }}</td>
              <td>{{ bet.raceentry.horse.name }}</td>
              <td>{{ bet.amount }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      <br>
     {% endif %}
    {% endfor %} 

    <!-- UPCOMING -->
    {% for race in races %}
    {% if race.status == 'Upcoming' %}
      <div class="col border border-success rounded-lg">
        <h5>Race {{ race.number }} - {{ race.name }} </h5>
        <h5 class='text-center'><span class='font-weight-bold text-primary'> {{ race.status }}</span></h5> 
      <h6 class="text-center">Race Card</h6>
      <table class="table table-condensed table-striped table-sm">
        <thead>
            <tr>
                <th>No.</th>
                <th>Horse</th>
            </tr>
        </thead>
        <tbody>
            {% for raceentry in raceentrys %}
                <tr>
                {% if raceentry.race.id == race.id %}
                  <td>{{ raceentry.number }}</td>
                  <td>{{ raceentry.horse.name }}</td>
                {% endif %}
              </tr>
            {% endfor %}
        </tbody>
      </table>
      </div>
    <br>
    {% endif %}
    {% endfor %}

    <!-- FINISHED -->
    {% for race in races %}
      {% if race.status == 'Finished' %}
        <div class="col border border-success rounded-lg">
          <h5>Race {{ race.number }} - {{ race.name }} </h5>
          <h5 class='text-center'><span class='font-weight-bold text-danger'> {{ race.status }}</span></h5> 
        <div class="text-center">
          <a type="button" class="btn btn-sm btn-success px-2" href="{% url 'races:dashboard' race.id %} ">Details</a>
          <a type="button" class="btn btn-sm btn-primary px-2" href="{% url 'races:watchrace' race.id %} ">Rewatch Race</a>
        </div>
        <h6 class="text-center">My Bets</h6>
        <table class="table table-condensed table-striped table-sm">
          <thead>
              <tr>
                <th>No.</th>
                <th>Horse</th>
                <th>Stake</th>
                <th>Pay Out</th>
              </tr>
          </thead> 
          <tbody>
              {% for bet in bets %}
              {% if bet.raceentry in winners %}
                <tr class = 'table-success'>
              {% else %}
                <tr>
              {% endif %}
                {% if bet.raceentry.race.id == race.id %}
                  <td>{{ bet.raceentry.number }}</td>
                  <td>{{ bet.raceentry.horse.name }}</td>
                  <td>{{ bet.amount }}</td>
                  <td>{{ bet.winnings }}</td>
                {% endif %}
              </tr>
              {% endfor %}
          </tbody>
        </table>
        </div>
        <br>
      {% endif %}
    {% endfor %}    

</div>




{% endblock %}